table {
  border-collapse: collapse;
  margin: $base-spacing 0;
  border-top: $base-border;
  border-bottom: $base-border;
  border-color: white;
  table-layout: fixed;
  width: 100%;
}

th {
  font-weight: 700;
  padding: $small-spacing 0;
  text-align: left;
}

td {
  padding: $small-spacing/2 0;
}

tr,
td,
th {
  vertical-align: middle;
}
