---
layout: default
---
<header class="page-header page-header__section">
  <div class="container">
    <div class="header--left">
      <h1 class="section-title">Be part of a sustainable and affordable newway of living with Yorspace</h1>
      <div class="section-subtitle">
        <p>We’re pioneering a model that will create permanentlyaffordable homes while allowing people to createtheir own communities.</p>
      </div>
    </div>
    <div class="header--right">
      {% include icons/house-color.svg class="live-house-icon" %}
      <h3>Express your interest</h3>
      <p class="totaliser-description">Becoming a YorSpace member costs £2 and allows you to join our housing interest register</p>
      <a href="#" class="button section-header-button">Join us</a>
    </div>
  </div>
</header>


<section class="section-rows">
  <div class="section-row">
    <div class="container">
      <div class="section-row--text">
        <h2 class="section-heading">Housing with affordability at its heart</h2>
        <p>Unlike most houses, the homes we’re creating won’t ever be sold on the open market forquick profit.</p>
        <p>Instead they’ll be owned by a cooperative which residents will be shareholding members of, paying a deposit plus monthly contributions which give you security and equity while avoiding the inflation and speculation of traditional home ownership.</p>
      </div>
      <div class="section-row--image">
        <img src="/assets/images/invest-1.jpg" />
      </div>
    </div>
  </div>
  <div class="section-row">
    <div class="container">
      <div class="section-row--text">
        <h2 class="section-heading">Comparing costs</h2>
        <p>House prices for Lowfield Green are significantly lower than for similar sized properties sold on the open market.</p>
        <table>
          <tr><th></th><th>Market price</th><th>YorSpace price</th></tr>
          <tr><td>1 bed flat</td><td>£135,000</td><td>£96,249</td></tr>
          <tr><td>2 bed flat</td><td>£160,000</td><td>£111,074</td></tr>
          <tr><td>2 bed house</td><td>£200,000</td><td>£118,510</td></tr>
          <tr><td>3 bed house</td><td>£250,000</td><td>£133,325</td></tr>
          <tr><td>4 bed house</td><td>£295,000</td><td>£162,846</td></tr>
        </table>
      </div>
      <div class="section-row--image">
        <img src="/assets/images/invest-2.jpg" />
      </div>
    </div>
  </div>
</section>

<section class="section section--about-life">
  <div class="container">
    <div class="about-life--text">
      <h2 class="section-heading">Comparing costs</h2>
      <p>Lowfield Green aims to create a strong community of people interested in finding a solution to the problems of traditionalhousing models.</p>
    </div>
    <div class="about-life--box">
      <h3>Communal features of Lowfield Green</h3>
      <ul>
        <li>Communal outdoor space and gardens</li>
        <li>Plenty of secure cycle parking</li>
        <li>Common house for resident shared meals and activities</li>
        <li>Car, workshop, shed and tool share</li>
      </ul>
    </div>
    <div class="about-life--box">
      <h3>Who's Lowfield Green for?</h3>
      <ul>
        <li>People interested in new ways of living that create strong communities</li>
        <li>York connection, especially Y024</li>
        <li>First time buyers, people in need of a larger home or those looking to downsize</li>
      </ul>
    </div>
  </div>
</section>

<section class="section section--faqs">
  {% include components/faqs.html title="Frequently asked questions" location="live" %}
</section>
